.idea/Dictionary.iml
cmake-build-debug/Dictionary.cbp
cmake-build-debug/libDictionary.a
cmake-build-debug/Project.cbp
cmake-build-debug/TestDictionary
cmake-build-debug/CMakeFiles/Dictionary.dir/build.make
cmake-build-debug/CMakeFiles/Dictionary.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Dictionary.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/Dictionary.dir/CXX.includecache
cmake-build-debug/CMakeFiles/Dictionary.dir/depend.internal
cmake-build-debug/CMakeFiles/Dictionary.dir/depend.make
cmake-build-debug/CMakeFiles/Dictionary.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Dictionary.dir/flags.make
cmake-build-debug/CMakeFiles/Dictionary.dir/link.txt
cmake-build-debug/CMakeFiles/Dictionary.dir/progress.make
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/Dictionary.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/ExceptionalWord.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/TxtDictionary.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/TxtWord.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/VectorizedWord.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/Word.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/Trie/Trie.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/Trie/TrieNode.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Syllibification/IrregularWordException.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Syllibification/Syllable.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Syllibification/SyllableList.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/build.make
cmake-build-debug/CMakeFiles/TestDictionary.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/TestDictionary.dir/CXX.includecache
cmake-build-debug/CMakeFiles/TestDictionary.dir/depend.internal
cmake-build-debug/CMakeFiles/TestDictionary.dir/depend.make
cmake-build-debug/CMakeFiles/TestDictionary.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/TestDictionary.dir/flags.make
cmake-build-debug/CMakeFiles/TestDictionary.dir/link.txt
cmake-build-debug/CMakeFiles/TestDictionary.dir/progress.make
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/Dictionary.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/ExceptionalWord.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/TestDictionary.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/TxtDictionary.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/TxtWord.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/VectorizedWord.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/Word.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/Trie/Trie.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/Trie/TrieNode.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Syllibification/IrregularWordException.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Syllibification/Syllable.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Syllibification/SyllableList.cpp.o
cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
.idea/encodings.xml
cmake-build-debug/libDictionary.dylib
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/VectorizedDictionary.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/VectorizedDictionary.cpp.o
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/Test.dir/
/cmake-build-debug/Testing/Temporary/
/cmake-build-debug/Test
cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/a.out
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-ef6b54861f0e97addd34.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e2e2379cc2814ca060e5.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-1d15649bb372e1fd8b9f.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-02-08T16-44-39-0443.json
/cmake-build-debug/.cmake/api/v1/reply/target-Dictionary-Debug-0f3f27d72f8e08d5662f.json
/cmake-build-debug/.cmake/api/v1/reply/target-Test-Debug-b501ae275328ce07b257.json
