.idea/Dictionary.iml
cmake-build-debug/Dictionary.cbp
cmake-build-debug/libDictionary.a
cmake-build-debug/Project.cbp
cmake-build-debug/TestDictionary
cmake-build-debug/CMakeFiles/Dictionary.dir/build.make
cmake-build-debug/CMakeFiles/Dictionary.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Dictionary.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/Dictionary.dir/CXX.includecache
cmake-build-debug/CMakeFiles/Dictionary.dir/depend.internal
cmake-build-debug/CMakeFiles/Dictionary.dir/depend.make
cmake-build-debug/CMakeFiles/Dictionary.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Dictionary.dir/flags.make
cmake-build-debug/CMakeFiles/Dictionary.dir/link.txt
cmake-build-debug/CMakeFiles/Dictionary.dir/progress.make
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/Dictionary.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/ExceptionalWord.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/TxtDictionary.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/TxtWord.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/VectorizedWord.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/Word.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/Trie/Trie.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/Trie/TrieNode.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Syllibification/IrregularWordException.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Syllibification/Syllable.cpp.o
cmake-build-debug/CMakeFiles/Dictionary.dir/Syllibification/SyllableList.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/build.make
cmake-build-debug/CMakeFiles/TestDictionary.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/TestDictionary.dir/CXX.includecache
cmake-build-debug/CMakeFiles/TestDictionary.dir/depend.internal
cmake-build-debug/CMakeFiles/TestDictionary.dir/depend.make
cmake-build-debug/CMakeFiles/TestDictionary.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/TestDictionary.dir/flags.make
cmake-build-debug/CMakeFiles/TestDictionary.dir/link.txt
cmake-build-debug/CMakeFiles/TestDictionary.dir/progress.make
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/Dictionary.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/ExceptionalWord.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/TestDictionary.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/TxtDictionary.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/TxtWord.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/VectorizedWord.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/Word.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/Trie/Trie.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/Trie/TrieNode.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Syllibification/IrregularWordException.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Syllibification/Syllable.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Syllibification/SyllableList.cpp.o
cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
.idea/encodings.xml
cmake-build-debug/libDictionary.dylib
cmake-build-debug/CMakeFiles/Dictionary.dir/Dictionary/VectorizedDictionary.cpp.o
cmake-build-debug/CMakeFiles/TestDictionary.dir/Dictionary/VectorizedDictionary.cpp.o
